/*!
 * MavHack 2015
 */

 body {
    font-size: 16px;
 }

 .navbar {
    border:0px;
 }

 .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
 	color: #fff;
 }

 .navbar-center {
    float: none;
    margin: 0 auto;
    display: table;
 }

 .navbar-toggle {
    float: left;
    margin: 10px;
 }

 header {
 	background-position: top center;
 	color: #ffffff;
    background: none; 
    background-color: rgba(0, 0, 0, 0.94);

 }

 header .header-content .header-content-inner h1 {
    font-size: 7em;
 }

 header .header-content .header-content-inner p {
 	color: #ffffff;
	font-size: 2em;
    font-weight: 500;
    margin-bottom: 30px;
 }

 .divider {
    background: url('img/divider.png') no-repeat;
    background-size: 60%; 
    background-position: center;
    width: 100%;
    max-width: 750px;
    height: 33px;
    clear: both;
    margin: auto;
    margin-bottom: 10px;
 }

 .navbar-brand {
 	font-size: 30px;
 }

 .main-logo {
    width:100%;
    max-width:500px;
    margin: 0 auto;
    display: block;
 }

 .lug-logo {
    margin:0 auto;
    float:none;
    display:block;
    margin-bottom:20px;
    max-width:300px;
 }

 .subscribe {
    width:100%;
    max-width: 370px;
    margin: 0px auto;
 }

 .subscribe input[type="email"] {
    height:44px;
    border:0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
 }

 .subscribe input[type="submit"] {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width:auto;
 }

 #mc_embed_signup .radio ul {
    list-style-type: none;
    padding: 0px;
    margin: 7px 0px 20px 0px;
 }

 #mc_embed_signup .radio ul li{
    margin-bottom: 7px;
 }

 #mc_embed_signup .radio label {
    width: 100%;
 }
 
 footer {
     padding: 20px 0px;
     margin-bottom: -10px;
     background-color: #00447c;
     text-align: center;
     color: #bbb;
     font-weight: 700;
     font-size: 16px;
     position: relative;
 }

 footer a {
    font-size: 24px;
    margin-right: 15px;
 }
 
 footer a:hover {
     text-decoration: none;
     color: #bbb;
 }
 
 footer p {
     display: block;
 }
 
 #social {
     list-style-type: none;
     margin: 0;
     padding: 0;
 }
 
 #social li {
     display: inline;
     margin: 0px 8px;
}

 .drone {
 	background:url('img/drone3.png') no-repeat 50% 50%;
	position:absolute;
	width:201px;
	height: 105px; 
 }

 .separator {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    overflow: hidden;
 }

 #separator-one {
    background-image: url('img/header3.jpg');
 }

 #separator-two {
    background-image: url('img/drone3.jpg');
 }

 #separator-two p {
    text-shadow:1px 1px 1px #000;
 }

 #separator-reg {
    background-image: url('img/header.jpg');
 }

 .bigger-text {
    font-size: 1.2em;
 }

 #thanks{
    background-color: #000;
    color: #fff !important;
 }

 #organizer {
    background-color: #000;
    color: #fff !important;
 }

 .sponsor {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 300px;
    width: 100%;
 }

 .wide-text{
    font-size: 46px;
    color: #fff;
    padding: 40px 0px;
    text-align: center;
    font-weight: bold;
 }

 .text-big {
    font-size: 20px;
 }

 .text-extra-big {
    font-size: 28px;
 }

 #contact{
    background-color:#F9F9F9; 
 }

 #mc_embed_signup .form-control {
    border-radius: 0px;
    padding: 12px 16px;
    height: 44px;
    font-size: 18px;
    background: transparent;
    border:2px solid #CCC;
 }

 #mc_embed_signup form {
    font-size: 16px;
 }

#mc_embed_signup input[type=radio].css-checkbox {
                            position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
                        }

                        #mc_embed_signup input[type=radio].css-checkbox + label.css-label {
                            padding-left:23px;
                            height:18px; 
                            display:inline-block;
                            line-height:18px;
                            background-repeat:no-repeat;
                            background-position: 0 0;
                            font-size:16px;
                            vertical-align:middle;
                            cursor:pointer;
                        }

                        #mc_embed_signup input[type=radio].css-checkbox:checked + label.css-label {
                            background-position: 0 -18px;
                        }
                        label.css-label {
                background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_10a476a90541d3c36b8b7a362bcf82ce.png);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
.css-label{
    display: block;
    min-height: 18px !important;
}

.mlh-badge {
position:fixed;top:0;right:10px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000;
}

@media screen and (max-width: 767px),only screen and (max-device-width: 767px){
 .navbar-default .nav > li > a, .navbar-default .nav > li > a:focus {
    color: #000;
 }
}

@media screen and (max-width: 500px),only screen and (max-device-width: 500px){
.mlh-badge{
	position:absolute;
}

.navbar-fixed-top {
    position: absolute;
}

.main-logo {
    margin-top:20px;
}

section {
    padding: 60px 0px;
}

}
